<div class="row">
  <div class="col-12">
    地点情報変更
  </div>
</div>

<%= render 'form', point: @point %>

<%= link_to "詳細", @point, class: "btn btn-outline-primary mx-2" %>
<%= link_to "一覧へ戻る", points_path, class: "btn btn-outline-dark mx-2" %>
