<div class="row">
  <h1 class="headline col-12 rounded">地点</h1>
  <% if signed_in? %>
    <div class="col-5">
      <%= link_to(new_point_path) do %><div class="btn btn-primary btn-lg">新規地点登録</div><% end %>
    </div>
  <% end %>
</div>

<% if @points.empty? %>
  <div class="row mt-3">現在登録されている地点情報はありません</div>
<% else %>
  <% if signed_in? %>
    <%= render 'sign_in_state' %>
  <% else %>
    <%= render 'sign_out_state' %>
  <% end %>
<% end %>