<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @construction.name %>
</p>

<%= link_to 'Edit', edit_construction_path(@construction) %> |
<%= link_to 'Back', constructions_path %>
