$red: red;
$light-yellow: #ffa;
$aoni: #cd4;
$green-yellow: #cfc;
$murasakisuisyo: #e7e7eb;

#mapadmin {
  height: 500px;
  width: 100%;
}

/* ---- 管理者・業者トップページ ----*/
#jumbo {
  background: image-url('building.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  h2 {
    text-shadow:2px 2px 1px #000088;
    color: #ffffff;
  }
}

.bg-color1 {
  background-color: #f0e68c;
}

.bg-color2 {
  background-color: #afeeee;
}

.top_menu div div {
  border-radius: 10px;
  height: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.top_menu div a {
  text-decoration: none;
}

/* ---- モデル検証エラー関係 ---- */
#error_list {
  color: #dc3545;
}

/* ---- header関係 ---- */
#head {
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}

.nav-item {
  border-bottom: solid 3px $murasakisuisyo;
  color: $murasakisuisyo;
  height: 30px;
  width: 100px;
  margin: 10px 5px 0 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: rgba(0, 0, 255, 0.2);
  }
  &:active {
    background: #fff;
    border-bottom: solid 3px #55f;
    color: #55f;
  }
}

.inner {
  vertical-align: middle;
}

#headmargin {
  height: 50px;
}

.nav-button {
  width: 100%;
  &:hover {
    color: #ffbbaa;
  }
  a {
    div {
      color: white;
      &:hover {
        color: #ffbbaa;
      }
    }
    text-decoration: none;
  }
}

#log_in_icon {
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.2);
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 10;
}

/* ---- モデル関連 ---- */

/* 見出し */
.headline {
  padding: 17px 30px;
  margin: 10px 0px;
  background-color: #ffddf1;
  border-left: solid 10px #eb6ea0;
  border-right: solid 10px #eb6ea0;
  color: #56256e;
  font-size: 2em;
}

/* 新規作成ボタン大 */
.create_model {
  margin: 5px 20px;
  &:hover {
    text-decoration: none;
  }
}

.bg-table-primary {
  background: #f0f8ff;
}

.table-data-bottom {
  border-bottom: solid 1px #aaf;
}

/* ---- 修繕依頼 ---- */
.red-text {
  color: $red;
}

.bg-light-yellow {
  background: $light-yellow;  
}

.bg-select-org {
  background: $aoni;  
}

.bg-newrecord {
  background: $green-yellow;
}