<% if signed_in? %>
  <div id="head">
    <div class="container">
      <div class="row">

        <div class="col-12 d-none d-sm-block">
          <%= render 'layouts/nav_buttons' %>
        </div>

        <div class="col-12 d-sm-none">
          <div class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="background-shadow"></div>
        <div id="hamburger-menu">
          <%= render 'layouts/nav_buttons' %>
        </div>

      </div>
    </div>
  </div>
  <div id="headmargin"></div>
<% else %>
  <%= link_to(new_user_session_path) do %><div id="log_in_icon"><span class="inner">ログイン</span></div><% end %>
<% end %>