<div id="head">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= link_to(constructions_path) do %><div class="nav-item"><span class="inner">工事名</span></div><% end %>
        <%= link_to(points_path) do %><div class="nav-item"><span class="inner">地点</span></div><% end %>
        <div class="nav-item"><span class="inner">ログアウト</span></div>
      </div>
    </div>
  </div>
</div>
<div id="headmargin"></div>


<div id="log_in_icon"><span class="inner">ログイン</span></div>