<%= link_to(constructions_path) do %><div class="nav-item"><span class="inner">工事名</span></div><% end %>
<%= link_to(points_path) do %><div class="nav-item"><span class="inner">地点</span></div><% end %>
<%= link_to(users_path) do %><div class="nav-item"><span class="inner">ユーザー</span></div><% end %>
<%= link_to(destroy_user_session_path, method: "delete") do %><div class="nav-item"><span class="inner">サインアウト</span></div><% end %>